body {
  background: #dad6d6;
}
#Container {
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 300px;
}
#Container > #myvideo {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.btn_play {
  position: absolute;
  width: 5%;
  height: 5%;
  z-index: 100;
  bottom: 30px;
  left: 10px;
  cursor: pointer;
}
.dur {
  position: absolute;
  bottom: 30px;

  color: white;
  font-weight: 800;
  z-index: 200;
}
#dur {
  left: 80px;
}
#time {
  left: 40px;
}
#progress {
  width: 200px;
  position: absolute;
  bottom: 30px;
  left: 150px;
  z-index: 1000;
}
#volume {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1000;
  bottom: 30px;
  right: 10px;
  cursor: pointer;
}
#vol_manager {
  position: absolute;
  transform: rotate(270deg);
  bottom: 100px;
  right: -45px;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5;
}
